## Logistic Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("sgemm_product.csv")

In [3]:
df.head()

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,Run1 (ms),Run2 (ms),Run3 (ms),Run4 (ms)
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0,115.26,115.87,118.55,115.80
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1,78.13,78.25,79.25,79.19
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0,79.84,80.69,80.76,80.97
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1,84.32,89.90,86.75,85.58
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0,115.13,121.98,122.73,114.81

In [4]:
df.shape

(241600, 18)

In [5]:
df['Runtime']=df[['Run1 (ms)','Run2 (ms)','Run3 (ms)','Run4 (ms)']].mean(axis=1)

In [6]:
df.head()

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,Run1 (ms),Run2 (ms),Run3 (ms),Run4 (ms),Runtime
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0,115.26,115.87,118.55,115.80,116.3700
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1,78.13,78.25,79.25,79.19,78.7050
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0,79.84,80.69,80.76,80.97,80.5650
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1,84.32,89.90,86.75,85.58,86.6375
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0,115.13,121.98,122.73,114.81,118.6625

In [7]:
#drop other Run time variables
df1=df.drop(columns =['Run1 (ms)','Run2 (ms)','Run3 (ms)','Run4 (ms)'], axis = 1)

In [8]:
df1.tail()

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,Runtime
241595,128,128,32,32,32,32,32,8,4,4,1,0,1,1,17.8175
241596,128,128,32,32,32,32,32,8,4,4,1,1,0,0,36.0350
241597,128,128,32,32,32,32,32,8,4,4,1,1,0,1,35.1600
241598,128,128,32,32,32,32,32,8,4,4,1,1,1,0,28.4525
241599,128,128,32,32,32,32,32,8,4,4,1,1,1,1,17.8175

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix

In [10]:
# Assuming Threshold
threshold=50

In [11]:
#Target column convert in 0 and 1
df1['Run_main']=(df1['Runtime']<= threshold).astype(int)
df1['Run_main']

0         0
1         0
2         0
3         0
4         0
         ..
241595    1
241596    1
241597    1
241598    1
241599    1
Name: Run_main, Length: 241600, dtype: int32

In [12]:
#Drop Runtime column
df1=df1.drop('Runtime',axis=1)

In [13]:
df1.head()

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,Run_main
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0,0
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1,0
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0,0
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1,0
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0,0

In [14]:
df1.shape

(241600, 15)

In [15]:
# Train & Test
X=df1.drop('Run_main',axis=1)
y=df1['Run_main']

#split data into train and test
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [16]:
#Create model 
Lo_r=LogisticRegression()
Lo_r.fit(X_train,y_train)

C:\Users\papli\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [17]:
# Prediction
y_pred=Lo_r.predict(X_test)

In [18]:
#Evaluate the model
accuracy=accuracy_score(y_test,y_pred)
print("Your model accuracy is:",accuracy*100)

Your model accuracy is: 70.26076158940397

In [26]:
confusion_matrix(y_test,y_pred)

array([[30853,     0],
       [17467,     0]], dtype=int64)

In [19]:
print(Lo_r.coef_)
print(Lo_r.intercept_)

[[-0.02016928 -0.01012407 -0.0420148   0.07419182  0.06101532  0.00390396
   0.00769742 -0.01489365  0.04041091  0.10354665  0.46185984 -0.00223669
   0.70318401  0.14882954]]
[-0.19855953]

### Gradient descent

In [20]:
# Standardize features 
X_train = (X_train - X_train.mean()) / X_train.std()
X_test = (X_test - X_train.mean()) / X_train.std()

In [21]:
# Initialize parameters
theta = np.zeros(X_train.shape[1])

In [22]:
# Set hyperparameters
learning_rate = 0.01
iterations = 2500

# Gradient Descent
m = len(y_train)

for _ in range(iterations):
    # Calculate the predicted probabilities
    z = np.dot(X_train, theta)
    h = 1 / (1 + np.exp(-z))

    # Calculate the gradient
    gradient = np.dot(X_train.T, (h - y_train)) / m

    # Update the parameters using the gradient
    theta -= learning_rate * gradient

In [23]:
# Predictions
z_test = np.dot(X_test, theta)
h_test = 1 / (1 + np.exp(-z_test))
y_pred = (h_test >= 0.5).astype(int)

In [24]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Your model accuracy is:", accuracy * 100)
print("Updated coefficients:", theta[1:])
print("Updated intercept:", theta[0])

Your model accuracy is: 63.851407284768214
Updated coefficients: [-0.33850551 -0.18019032  0.4912411   0.42705681  0.07014     0.10088207
  0.02107507  0.03453718  0.19265643  0.23366766  0.02729638  0.34042685
  0.0944308 ]
Updated intercept: -0.6887679831714505